.cat-content {
  text-align: center;
}
.product-content {
  text-align: center;
}
.cat {
  margin: 10px;
  width: 220px;
  height: 219px;
  display: inline-block;
  border-radius: 5px;
}

.cat p {
  padding: 10px;
  background-color: rgba(247, 148, 30, 0.8);
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cat:hover {
  opacity: 0.8;
  text-decoration: unset;
}
.fixed-top-2 {
  margin-top: 56px;
}
.product-list-item {
  width: 320px !important;
  height: 485px !important;
  overflow: hidden !important;
  display: inline-block !important;
  margin-bottom: 10px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  border: 1px solid #f7941e !important;
  border-top: none !important;
  vertical-align: top;
  border-radius: 5px;
}
.product-list-item header {
  height: 48px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f7941e;
}
.product-list-item .content-list {
  margin-top: 15px;
}

img.lazy-load {
  width: 150px;
  height: 150px;
}
.product-list-item .content-list .col-right {
  text-align: justify;
  padding: 15px;
  height: 200px !important;
  overflow: hidden !important;
  position: relative;
}

p.read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent, #767676);
}
.product-list-item .content-list .col-price {
  margin-top: 15px;
}
.product-list-item .content-list .col-price p {
  margin-bottom: 5px !important;
  font-size: 16px !important;
  line-height: 10px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #767676;
}
.bread-crumb {
  width: 100%;
  height: 70px;
  margin-top: 5px;
  padding-left: 10px;
  border-bottom: 2px solid white;
  background-color: #f4f4f4f4;
}
.bread-crumb div {
  margin-top: -15px;
}
.bread-crumb span {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  color: #666666;
}
.bread-crumb a {
  text-decoration: underline;
  color: #666666;
}
.product-detail {
  width: 100%;
  height: 332px;
  display: inline-flex;
  background-color: #f4f4f4f4;
}
.product-description .name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  line-height: 1;
}
.add-cart {
  width: 220px;
  height: 308px;
  margin-top: 10px;
  border-left: 2px solid white;
  padding-right: 15px;
  position: relative;
}
.add-cart .price {
  height: 75px;
  color: #ff3300;
  font: 26px Arial;
  font-weight: bold;
  padding: 15px 10px 15px 10px;
  text-align: center;
  display: block;
}
.add-cart .quantity-selection {
  display: block;
  text-align: center;
  background-color: #daedfb;
  padding: 30px 10px 10px 15px;
}
.add-cart .quantity-selection .quantity-input {
  width: 176px;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 0, 0, 0.2);
}
.add-cart .quantity-selection .add-cart-button {
  width: 176px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #0f09f5;
  color: #ffffff;
  background: #0f09f5;
  font-weight: bold;
  font-family: arial;
}
.add-cart .quantity-selection .add-cart-button:hover {
  border: 2px solid #ff3300;
  color: #ff3300;
  background: #ffffff;
}
.add-cart .delivery-info {
  text-align: center;
  margin-top: 18px;
}
.add-cart .delivery-info span {
  color: #b00066;
  font-family: arial;
}
.product-detail figure {
  width: 300px;
  text-align: center;
  margin: 10px 20px 10px 20px;
}
.product-detail #zoomPad img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.product-detail #zoomPop {
  border: 1px solid;
  width: 350px;
  position: absolute;
  margin-top: -242px;
  margin-left: 133px;
  background-color: white;
  height: 200px;
  display: none;
  background-repeat: no-repeat;
}
.product-detail .product-description {
  height: 231px;
  margin-top: 40px;
  margin-right: 20px;
  overflow: hidden;
}
.product-detail .product-description p {
  text-align: justify;
}
.cat-products {
  width: 100%;
  height: 210px;
  margin-top: 5px;
  background-color: #f4f4f4f4;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 30px;
}
.cat-products .title {
  height: 45px;
}
.cat-products .title h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #444;
  line-height: 1;
  text-transform: uppercase;
}
.cat-products .product {
  width: 155px;
  height: 128px;
  display: inline-block;
}
.cat-products figure img {
  width: 80px;
  height: 100px;
}
.cat-products .name {
  margin-top: -10;
}
.cat-products .name h2 {
  font-size: 13px;
  font-weight: bold;
  color: #5f5f5f;
}
.add-cart .quantity-selection .errorlist {
  margin: -18px 0px 15px;
  width: 176px;
  padding-left: 0px;
  list-style-type: none;
  color: #dd2c00;
  font-weight: bold;
}
